#banner
  .banner_content
    %h1 NoteBook
    %p Your online notebook. Never forget an idea again.
    %button= link_to 'Sign Up', new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The best way to find out if you can trust somebody is to trust them."
    %p.name - Ernest Hemingway

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Notes
        %p Viral Echo Park Inalaklksldkdj dlakjdlka ld dlak dlkjalkdj ldkjdl daadldldkdj.
      .callout
        %h2 Notes
        %p Viral Echo Park Inalaklksldkdj dlakjdlka ld dlak dlkjalkdj ldkjdl daadldldkdj.
      .callout
        %h2 Notes
        %p Viral Echo Park Inalaklksldkdj dlakjdlka ld dlak dlkjalkdj ldkjdl daadldldkdj.

#bottom_cta
  .wrapper
    %h2 For Realz!
    %p I want you to sign up... If you don't, I will find you!
    %button= link_to 'Click Meee!!!', new_user_registration_path

%footer
  %p &copy; OkZen  
